body{
    margin: 0 auto;
    font-family: 'Sahitya', cursive, sans-serif;
}

#home{
    height: 500px !important;
}

#contact{
    height: 680px !important;
}

#about, #contact{
    padding-top: 70px;
}

#home{
    height: 100%;
    width: 100%;   
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;   
}

#about{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    display: block;    
}

#contact{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 200%;
    left: 0px;
    display: block;   
}

.navbar{   
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: dimgray !important;
    z-index: 100;
    display: block;   
}

nav ul{
    padding-top: 7px;
}

nav li{
    float: right;
}

nav li a{ 
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
    color: darkgrey;
    background-color: dimgrey;
    font-family: 'Sahitya', cursive, sans-serif;
}

.lg-position{
    padding-top: 20px !important;
}

.text-style{
    font-family: 'Sahitya', cursive, sans-serif;
    font-weight: 800;
}


.tab-right{
    float: right;
    padding-bottom: 10px;
}

/*Home Page*/

.home-page{
    padding-top: 150px;
    font-family: 'Sahitya', cursive, sans-serif;
    font-weight: 800;

}

.style-name{
    font-size: 90px;
    color: gray;
}

.style-description{
    font-size: 35px;
    padding-bottom: 25px;
    color: darkgrey;
}

hr{
    height: 3px !important;
    background-color:darkgray;
}

.btn{
    color: #fff;
}

.btn{
    color: #fff !important;
}

.btn-blog, 
.btn-researchgate, 
.btn-publications, 
.btn-researches,
.btn-github{
    font-size: 1.6em;
    background-color: dimgrey;
}

.btnList{
    padding-top: 30px;
}

.btn-blog:hover{
    background-color: #edcbca;
}

.btn-researchgate:hover{
    background-color: #00ccbb;
}

.btn-publications:hover{
    background-color: #007BB6;
}

.btn-researches:hover{
    background-color: #006400;
}

.btn-github:hover{
    background-color: #444444;
}


.block{
    border: 2px thin solid;
}

/*About*/
.about-info{
    font-size: 22px;
    color:#000;
    font-family: 'Sahitya', cursive, sans-serif;
}

.about-style{
    border: thin solid;
    color: darkgrey;
    opacity: 0.7;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: gainsboro;
    border-radius: 0.5%;
}

.img-left {
		width: 90%;
		margin: 0 auto 3em;
	}

/*contact*/
.contact-info{
    font-size: 22px;
    color:#000;
    font-family: 'Sahitya', cursive, sans-serif;
}

/*links*/
.links-info{
    font-size: 22px;
    color:#000;
    font-family: 'Sahitya', cursive, sans-serif;
}

/*Footer*/

#footer{
    position:fixed;
    height:50px;
    background-color:dimgray;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

.footer-position{
    font-family: 'Sahitya', cursive, sans-serif;
    color: darkgray;
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
}
